/*

   Font Family Groups

*/

html, body, .sans-serif  { font-family: 'avenir next', avenir, helvetica, 'helvetica neue', arial, sans-serif!important; }

// From http://cssfontstack.com
.code        {    font-family: Consolas, monaco, monospace; }
.serif-calisto {  font-family: "Calisto MT", "Bookman Old Style", Bookman, "Goudy Old Style", Garamond, "Hoefler Text", "Bitstream Charter", Georgia, serif; }

