/*
   links.css - v0.0.1 - "Smarter defaults for links"
   License MIT
*/

a {
  text-decoration: none;
  transition: color .4s;
  color: #222;
}

a:link, 
a:visited { color: #222; }
a:hover   { color: #7FDBFF; }
a:active  { 
  transition: color .3s;
  color: #007BE6; 
}


