/*

   TEXT DECORATION

*/

.underline    { text-decoration: underline; }
.no-underline { text-decoration: none; }


@include break(not-small) {
  .underline-ns    { text-decoration: underline; }
  .no-underline-ns { text-decoration: none; }
}

@include break(medium) {
  .underline-m    { text-decoration: underline; }
  .no-underline-m { text-decoration: none; }
}

@include break(large) {
  .underline-l    { text-decoration: underline; }
  .no-underline-l { text-decoration: none; }
}

